@tailwind base;
@tailwind components;
@tailwind utilities;

input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

@layer components {
  .class-button {
    @apply btn text-white py-2 px-0.5 md:px-3 h-16;
  }

  .documentation-page {
    @apply flex flex-col gap-8;
  }

  .documentation-page h1 {
    @apply text-4xl md:text-6xl;
  }

  .documentation-page h2 {
    @apply text-2xl md:text-4xl;
  }

  .documentation-page h3 {
    @apply text-xl md:text-2xl;
  }

  .documentation-page p,
  .documentation-page ul {
    @apply text-lg md:text-xl;
  }

  .documentation-page section {
    @apply flex flex-col gap-4;
  }

  .documentation-page a {
    @apply text-blue-300 hover:text-blue-500;
  }

  .side-drawer {
    @apply min-h-full w-80 bg-base-100;
  }

  .side-drawer .menu li summary {
    @apply text-lg md:text-xl;
  }

  .side-drawer .menu li {
    @apply text-base md:text-lg;
  }
}
